// colors
$page-header: #3b2416;
$column-header: #be7a25;
$col-background: #bea88b;
$card-background: rgb(248, 238, 225);
$add-btn-column: #643604;
$add-btn: rgb(47, 212, 18);
$add-btn-hover: rgb(42, 156, 22);
$remove-btn: rgb(255, 32, 32);
$remove-btn-hover: rgb(179, 11, 11);

// fonts
$header-font: "Fredericka the Great", cursive;
$text-font: "Open Sans Condensed", sans-serif;

body {
  background: url("../images/cogs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: $text-font;
}
button {
  color: white;
  cursor: pointer;
}
.btn-round {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  border: none;
  border-radius: 50%;
  padding: 2px;
  i {
    margin: auto;
    font-size: 14px;
  }
  &.btn-delete {
    background-color: $remove-btn;
    position: absolute;
    right: 4px;
    top: 4px;
    &:hover {
      background-color: $remove-btn-hover;
    }
  }
}

header {
  background: rgba(248, 238, 225, 0.3);
  color: $page-header;
  padding: 16px;
  h1 {
    font-family: $header-font;
    font-weight: 300;
  }
  button {
    background: $add-btn-column;
    color: white;
    border: 0;
    border-radius: 10px;
    font-family: $text-font;
    font-size: 14px;
    padding: 10px;
  }
}

.column-container {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.column {
  position: relative;
  background: $col-background;
  border-radius: 12px;
  min-width: 150px;
  min-height: 140px;
  margin: 6px;
  padding: 10px 2px;

  .column-title {
    color: $column-header;
    font-family: $header-font;
    font-weight: 300;
    display: inline-block;
    padding: 0 12px;
    margin: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 4px;
  }
  .add-card {
    background: $card-background;
    color: $page-header;
    opacity: 0.5;
    margin: 6px;
    border: 0;
    border-radius: 10px;
    font-family: $text-font;
    font-size: 12px;
    padding: 4px 10px;
  }
}
.card {
  position: relative;
  display: block;
  border-radius: 10px;
  background: $card-background;
  color: $page-header;
  padding: 10px;
  margin: 10px 2px;
  //   .btn-delete {
  //     position: absolute;
  //     right: -3px;
  //     top: -5px;
  //   }
}
